<section class="hero_section">
  <h1>Welcome to Blog Vista , where <span>ideas</span> unravel</h1>

  <div class="text_content_hero">
    <h3>Ready to embark on your blogging journey ? <span>Sign up now</span> <br> and start shaping your digital
      narrative
      with
      Blog Vista <br>
      Your voice matters, and there's no better time to let it <br> <span> be heard</span>.</h3>
  </div>

  <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="100" height="400" viewBox="0 0 24 24">
    <path fill="whitesmoke"
      d="m13.012 19.162l1.813-1.822l1.418 1.41l-4.231 4.255l-4.255-4.231l1.41-1.418l1.846 1.834L10.998.997l2-.002l.014 18.167Z" />
  </svg>

  <button class="get_started_btn">Get Started</button>
</section>

<section class="featured-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <h2 class="h2-postcard"> Featured Posts</h2>

      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <app-post-card></app-post-card>
      </div>


      <div class="col-lg-3">
        <app-post-card></app-post-card>
      </div>


      <div class="col-lg-3">
        <app-post-card></app-post-card>
      </div>

    </div>
  </div>
</section>

<section class="container mt-5 latest_posts">

  <div class="col-md-12 text-center">
    <h2 class="h2-postcard">Latest Posts</h2>
  </div>

  <div class="row">

    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>

  </div>
</section>