<div class="post_container">
  <div class="single-post-card">
    <img
      src="https://images.unsplash.com/photo-1708757857789-2c7ba96bf644?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="sea shore">
    <div class="card body">
      <small class="bg-light text-danger text-center">Design</small>
      <small class="bg-light text-success text-center">Featured</small>
      <small class="bg-light text-info text-center">Views -100,384</small>
      <small class="bg-light text-warning text-center">LAST UPDATED 27 FEB 2024</small>

      <h1 class="mt-3 mb-3">Lorem ipsum, dolor sit amet consectetur adipisicing elits</h1>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, ipsa, nesciunt rerum necessitatibus quod
        natus dolore nisi maiores veniam commodi obcaecati, expedita vitae! Corrupti porro laudantium soluta eos, quo
        assumenda accusamus ratione, harum, ducimus voluptatum doloremque. Dicta, veniam fugit. At, nam dolore
        necessitatibus aspernatur iste quaerat hic mollitia facilis vitae alias accusamus ratione magnam vero numquam in
        cum. Voluptas corrupti nulla magni dolorum inventore non. Quibusdam perferendis minus porro vitae commodi facere
        soluta delectus ullam veniam beatae similique quod quasi quisquam vero, fugit provident. Ducimus optio
        dignissimos ut voluptate magni eveniet cupiditate suscipit harum veniam similique illo fugiat voluptas, alias ex
        iure inventore? Sed omnis minus dolor hic vero, voluptate quod aliquid consectetur. Aspernatur eligendi delectus
        praesentium odit quas. Corrupti nemo provident in nihil veritatis cum officiis deserunt aperiam illum, optio
        animi itaque. Tenetur aliquam libero sit ad. Minima velit odio optio nisi fugiat, laborum magni quos vel
        praesentium ea iusto quis excepturi eaque amet consequatur culpa nemo sit saepe itaque perferendis sed unde
        officia? Repellendus hic esse in, veniam et quod labore sed harum excepturi ex explicabo animi magnam modi
        cumque veritatis optio vitae nisi quaerat facilis impedit, nobis perspiciatis asperiores, eum necessitatibus.
        Consequuntur animi fugiat in voluptate debitis.</p>

    </div>
  </div>
</div>