<div class="card shadow-effect">
  <img
    src="https://images.pexels.com/photos/1174932/pexels-photo-1174932.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260"
    alt="post-image" class="card-img-top">

  <div class="card-body">
    <small class="bg-light text-danger text-center"> Design </small>
    <small class="bg-light text-success text-center ml-3"> Featured </small>
    <small class="bg-light text-info text-center ml-3"> Views - 100,256 </small>

    <h5 class="mt-1"> HOW TO START A BLOG IN 2024 EDITED NEW CATEGORY </h5>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book.</p>

    <small class="bg-light text-warning text-center"> LAST UPDATED - Feb 20, 2024 </small>

  </div>

</div>